<!DOCTYPE html>
<html>
<head>
	<title>Show</title>
</head>
<body>
	<h3>Display Recent User Details</h3>
	firstname:<%=@user.firstname%>
	lastname:<%=@user.lastname%>
	designation:<%=@user.designation%>
	place:<%=@user.place%>
</body>
	<%=link_to"Take me home",root_path%>
</html>